#regForm {
    display: none;
    margin: 1em 0 0 4em;
}

#regForm .row {
    margin-bottom: 1em;
}

.table-container {
    max-height: 350px;
    overflow-y: scroll;
}

#regForm input.has-error {
    border: 3px solid red;
}

#regForm .error-lbl{
    color: red;
}

.table-container table th{
    cursor: pointer;
}